html {
  scroll-behavior: smooth;
  /*background-image: radial-gradient(circle,#C02885,#3393AB);*/
  background-image: radial-gradient(circle,#c6744ec7,#0f51614f), url('images/2025_Ash___Iron_Press_Kit_Activity_COMPRESSED_06.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}

.data_container {
  display: flex;
  justify-content: center;
  color: #fff;
}

.flex_container {
  display: flex;
}

.Key {
  display: flex;
  color:white;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #858585f5;
}

.Key p {
  margin-left: 2rem;
  margin-right: 2rem;
  width: 200px;
  text-align:center;
}

.App h1, .about {
  text-align: center;
  color: #fff;
}

.container {
  padding:0 50px 0;
}

#header {
  display: flex;
  justify-content: space-between;
}

.page_title {
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.completed img {
  height: 25px;
  vertical-align: bottom;
}

.needToComplete p {
  background-color: #8C1612;
  color: #fff;
  border-radius: 15px;
  padding:10px;
}

.challenge h2 {
  font-weight: normal;
}

.card {
  padding: 10px;
    border-radius: 25px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.137);
    border: 2px solid #1c2a1f;
}

.menu ul {
  text-align: center;
  padding: 0;
}

.menu li {
  list-style-type: none;
  padding: 5px;
}

.menu a {
  color: #fff;
  font-size: 2rem;
}

.nightfall_info {
  text-align: center;
  color:#fff;
}

.nightfall_info h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.nightfallTitle {
  font-size: 1.75rem;
}

.text-center {
  text-align: center;
}


.exotic {
  height: 15px;
  width: 15px;
  background-color: rgb(255, 217, 0);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.pinnacle {
  height: 15px;
  width: 15px;
  background-color: rgb(214, 238, 0);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.powerful-1 {
  height: 15px;
  width: 15px;
  background-color: rgb(14, 167, 0);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.powerful-2 {
  height: 15px;
  width: 15px;
  background-color: rgb(0, 40, 172);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.powerful-3 {
  height: 15px;
  width: 15px;
  background-color: rgb(95, 0, 114);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

#andrew, #ian, #joe {
  color: #fff;
}

.destiny_image {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  max-width: 200px;
}

.data_button {
  display: block;
margin-left: auto;
margin-right: auto;
padding: 10px;
border-radius: 15px;
margin-top: 20px;
background-color: rgba(0, 0, 0, 0.137);
border: 2px solid #1c2a1f;
color: #fff;
font-size: 1rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.w-500 {
  width: 500px;
}


/*sidebar*/
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #0e1626;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #0e1626;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

a.menu-item {
  color: #fff;
  padding-top: 1rem;
}

.tenpx_gap {
  gap: 10px;
}

.font-bold {
  font-weight: bold;
}

.gold {
  color: gold;
}


@media screen and (max-width: 1000px) {
  .data_container {
    display: block;
  }
  .Key {
    display: block;
  }
  .Key p {
    width: auto;
  }
  .destiny_image {
    max-width: 50%;
  }
}

@media screen and (min-width: 501px) {
  .menu {
    display: none;
  }
}
